<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Stronę KN sisk</strong> wykonało KN sisk.</br>
            <small class="is-size-7">Na podstawie strony <a href="kssk.pwr.edu.pl">KSSK</a></small>
        </p>
    </div>
</footer>