
<section class="hero has-background-white">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-half">
          <p class="title">
	<i class="far fa-newspaper" aria-hidden="true"></i>
	<span>Aktualności</span>
</p>

        </div>
        <div class="column is-half">
          <p class="has-text-right-desktop">
            <a class="button is-info is-medium is-outlined" href="https://kssk.pwr.edu.pl/blog/tag/home">
              <span>Archiwum</span>
              <span class="icon">
                <i class="fas fa-angle-right" aria-hidden="true"></i>
              </span>
</a>          </p>
        </div>
      </div>
      <div class="columns is-multiline">
          <div class="column is-4">
            <div class="card">
              <a href="/blog/obrona-doktorska-mgr-inz-bogdana-gulowatego">
                <div class="card-image">
                  <figure class="image is-cropped is-16by9">
                    <img src="https://images.prismic.io/kssk/7154478d-f968-4ce0-b27a-5b4cf59361f7_technopolis_el_5330.jpg?auto=format,compress">
                  </figure>
                </div>
</a>              <div class="card-content">
                <a href="/blog/obrona-doktorska-mgr-inz-bogdana-gulowatego">
                  <p class="title is-5">Obrona doktorska mgr inż. Bogdana Gulowatego</p>
</a>
                <p class="has-text-justified">
                  20 marca odbędzie się obrona pracy doktorskiej mgr inż. Bogdana Gulowatego.
                    <a href="/teams/zum">#zum</a>
                    <a href="/users/gulowaty">#gulowaty</a>
                </p>
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="card">
              <a href="/blog/obrona-doktorska-mgr-inz-michala-panka">
                <div class="card-image">
                  <figure class="image is-cropped is-16by9">
                    <img src="https://images.prismic.io/kssk/6d96b297-3f09-4d9a-86f0-2acc0d9ea99e_eAE9PelRBfAVl_c-1_el_6933.jpg?auto=format,compress">
                  </figure>
                </div>
</a>              <div class="card-content">
                <a href="/blog/obrona-doktorska-mgr-inz-michala-panka">
                  <p class="title is-5">Obrona doktorska mgr inż. Michała Panka</p>
</a>
                <p class="has-text-justified">
                  18 marca odbędzie się obrona pracy doktorskiej mgr inż. Michała Panka.
                    <a href="/users/panek">#panek</a>
                    <a href="/teams/zum">#zum</a>
                </p>
              </div>
            </div>
          </div>
          <div class="column is-4">
            <div class="card">
              <a href="/blog/obrona-doktorska-mgr-inz-aleksandry-knapinskiej">
                <div class="card-image">
                  <figure class="image is-cropped is-16by9">
                    <img src="https://images.prismic.io/kssk/Z8Bpnp7c43Q3gUGJ_IMG_20250205_111410.jpg?auto=format,compress">
                  </figure>
                </div>
</a>              <div class="card-content">
                <a href="/blog/obrona-doktorska-mgr-inz-aleksandry-knapinskiej">
                  <p class="title is-5">Obrona doktorska mgr inż. Aleksandry Knapińskiej</p>
</a>
                <p class="has-text-justified">
                  14 marca odbędzie się obrona pracy doktorskiej mgr inż. Aleksandry Knapińskiej.
                    <a href="/teams/zsk">#zsk</a>
                    <a href="/users/knapinska">#knapinska</a>
                </p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
