

<section class="hero has-background-white">
  <div class="hero-body">
    <div class="container">
      <a id="contact">
        <p class="title">
	<i class="far fa-address-card" aria-hidden="true"></i>
	<span>Kontakt</span>
</p>

      </a>
      <p class="subtitle mt-2">
        Magna ea aute elit est quis sunt cillum proident dolor est do elit incididunt et.
      </p>
      <div class="columns">
        <div class="column">
          <div class="is-divider" data-content="Adres korespondencyjny"></div>
          <div class="box">
            <strong>Koło Naukowe Systemów i Sieci Komputerowych</strong><br>
            Wyb. Wyspiańskiego 27<br>
            50-370 Wrocław<br>
            Sekretariat Katedry, p. 16/17 (C-3)<br>
            E-mail: kn-sisk@pwr.edu.pl<br>
          </div>

          <div class="columns is-multiline">

              <div class=" column is-half">
                <div class="is-divider" data-content="Opiekunowie koła"></div>
                <a href="https://kssk.pwr.edu.pl/users/aaa">
                  <div class="card">
                    <div class="card-content">
                      <div class="media">
                        <div class="media-left">
                          <figure class="image is-48x48">
                            <img src="">
                          </figure>
                        </div>
                        <div class="media-content">
                          <p class="subtitle is-6">aaa</p>
                          <p class="title is-4">aaaa</p>
                        </div>
                      </div>
                    </div>
                  </div>
</a>              </div>

              <div class=" column is-half">
                <div class="is-divider" data-content="Opiekunowie koła"></div>
                <a href="https://kssk.pwr.edu.pl/users/aaaa">
                  <div class="card">
                    <div class="card-content">
                      <div class="media">
                        <div class="media-left">
                          <figure class="image is-48x48">
                            <img src="">
                          </figure>
                        </div>
                        <div class="media-content">
                          <p class="subtitle is-6">aaaa</p>
                          <p class="title is-4">aaaaa</p>
                        </div>
                      </div>
                    </div>
                  </div>
</a>              </div>
          </div>
        </div>
        <div class="column">
          <div class="is-divider" data-content="Lokalizacja"></div>
          <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=17.058535516262058%2C51.108498485082976%2C17.060144841670994%2C51.10957792835965&amp;layer=mapnik&amp;marker=51.109039051872166%2C17.059675455093384" style="border: 0px solid black"></iframe><br>
        </div>
      </div>

      <div class="is-divider" data-content="Media Społecznościowe"></div>
      <p class="subtitle has-text-centered mt-3">
        Zapraszamy do śledzenia nas w mediach społecznościowych pod nazwą <code>knsisk</code> !
      </p>
    </div>
  </div>
