---
layout: base.njk
title: SISK - Strona Domowa
---

<div class="hero has-background-white is-fullheight-with-navbar">
			<div class="hero-body">
				<div class="container">
					<div class="columns mt-5">
						<div class="column is-half">
						
										<div class="">
                    <img src="/assets/media/branding/logo_alpha_black.png">	
					          </div>
				</div>
        
        
        <div class="column is-half">
							<p class="title is-size-1 is-size-3-mobile has-text-primary mb-5">Koło Naukowe Systemów i Sieci Komputerowych</p>
							<p class="mt-5">
								</p><p class="is-size-5">
									<strong>Naukowe Systemów Informatycznych i Sieci Komputerowych</strong> działa przy Katedrze Systemów i Sieci Komputerowych Na <a href="https://wit.pwr.edu.pl/" target="_blank">Wydziale Informatyki i Telekomunikacji</a> <a href="https://pwr.edu.pl/" target="_blank">Politechniki Wrocławskiej</a>.
								</p>
								<p class="mt-2 is-size-5">Koło Naukowe zostało założone 8 
kwietnia 2003. Od urodzenia działa przy Katedrze Systemów i Sieci 
Komputerowych Wydziału Informatyki i Telekomunikacji Politechniki 
Wrocławskiej. Pomysłodawcą jego założenia i dania studentom szansy do 
rozwoju własnych wizji był dr inż. Leszek Koszałka</p>
							<p></p>
							<div class="buttons are-medium mt-5">
						 <button class="button is-primary">Jak się z nami skontaktować?</button>	 
							</div>
						</div>
			</div>
		</div>
	</div>
</div>

  {#% include "landing/blog_preview.njk" %#}
  {#% include "landing/history.njk" %#}
  {% include "landing/about.njk" %}
  {% include "landing/contact_us.njk" %}
